*{
  box-sizing: border-box;

}

body{
  font-family: Helvetica, Arial, sans-serif;
  margin-left: 0;
  margin-top: 25px;

}

img{
  max-width: 100%;
  width: 56px;
  height: 55px;
  border: 4px solid #79C1E7;
  border-radius: 100px;
  background-color: #3A8CBF;

}

ul{
  padding: 0;
  margin: 0;
  list-style: none;
}

hr{
  display: block;
 height: 1px;
 border: 0;
 border-top: 1px solid #E2E2E2;
 margin: 1em 0;
 padding: 0;
}



.alert{
display: inline-block;
text-align: left;
width: 640px;
height: 380px;
background-color: #4797C4;
color: white;
font-weight: lighter;
padding: 8px 46px 8px 46px;
border: 8px solid #FFFFFF;
border-radius: 20px;

}

.left-box{
display: inline-block;
top: 0;
left: 0;
float: left;
width: 480px;
height: 380px;
border-right: 8px solid #79C1E7;
margin-right: 25px;


}

.nav{
display: inline-block;
vertical-align: top;
float: left;
text-align: right;
}

.date{
position: relative;
right: -90px;
color: #E2E2E2;
font-size: 15px;
vertical-align: top;
text-align: right;


}

.time{
font-weight: lighter;
font-size: 35px;
color: #79C1E7;
}

.header{
font-weight: normal;
margin-bottom: -3px;
}

.left-box img{
margin-right: -31px;
}


.alert::after{
content: '';
display: block;
border: 10px solid transparent;
width: 0;
height: 0;
border-right-color: #4797C4;
position: relative;
left: -65px;
top: -534px;
}

::after:hover{
background-color: #79C1E7;
}

.alert:hover{
background-color: #79C1E7;
}
